.dark * {
	border-color: rgba(0,0,0,0.25);
	color: rgba(175,175,175,1);
}

.light * {
	border-color: rgba(125,125,125,0.5);
	color: rgba(50,50,50,1);
}

preferencesgroup {
	margin: 10px;
}

preferencesgroup .header {
	padding: 12px;
}

preferencesgroup .dim-label {
	padding: 0px 12px 12px 12px;
}

.panel-row image * {
/*	fill: white;*/
}
.panel-row image {
	margin-top: 4px;
	margin-bottom: 4px;
	margin-left: 8px;
	margin-right: 8px;
}

.panel-row {
	padding: 4px;
/*	padding-left: 0px;*/
/*	padding-right: 0px;*/
	border-radius: 6px;
}
.panel-row.active .panel-box,
.panel-row:hover .panel-box {
	background: rgba(100, 100, 100, 0.5);
}

/*.header {*/
/*	border: 2px solid red;*/
/*}*/

/*.adwviewswitcherbutton {
	border-width: 1px;
	border-radius: 0px;
	border-right: 0px;
}

.adwviewswitcher .adwviewswitcherbutton:last-child {
	border-right: 1px;
}
*/

/*
.adwviewswitcher > * {
	border-right: 0px;
}

.adwviewswitcher > :first-child {
	border-radius: 8px 0 0 8px;
}

.adwviewswitcher > :last-child {
	border-radius: 0 8px 8px 0;
}

.dark .adwviewswitcher > :last-child {
	border-right: 1px solid rgba(0,0,0,0.25);
}

.light .adwviewswitcher > :last-child {
	border-right: 1px solid rgba(125,125,125,0.5);
}*/

/*
.adwheaderbar .gtktogglebutton {
	background: rgba(0,0,0,0);
	border-color: rgba(0,0,0,0);
}
.dark .adwheaderbar .gtktogglebutton:hover {
	background: rgba(0,0,0,0.25);
}
.light .adwheaderbar .gtktogglebutton:hover {
	background: rgba(125,125,125,0.5);
}
*/

.adwviewswitcher > * {
	border: 0px;
}

.adwviewswitcherbutton {
	padding: 0px;
}

.adwviewswitcherbutton .gtkimage,
.adwviewswitcherbutton .gtklabel {
	padding: 4px;
}

.adwheaderbar .gtktogglebutton {
	border: 0px;
}
/*
.header_bar * {
	border: 0px;
	background: transparent;
}
*/
/*theme_view_bg_color*/
/*theme_sidebar_bg_color*/

.sidebar-pane .background {
	background-color: @theme_sidebar_bg_color;
}

.sidebar-pane button {
	border: 0px;
}
.sidebar-pane button {
	background: transparent;
}

.content-pane .view {
	background-color: shade(@theme_base_color, 0.6); /* 0.8 makes it darker */
}

headerbar {
	background: transparent;
	border: 0px;
}