/* Wallpaper */
#Wallpaper {
/*    border: 2px solid red;*/
/*    background: yellow;*/
}

/* Dock */
#Dock {
    background: transparent;
    opacity: 1;
    transition: opacity 0.45s ease-in-out;
}

#Dock.startup {
    opacity: 0;
}

.dock-item .button {
    border: none;
    background: rgba(0,0,0,0);
    padding: 2px;
}

.dock-item .button image {
    color: rgba(255,255,255,1);
}

.dock-item .button:hover {
    border: none;
    background: rgba(0,0,0,0.5);
}

/* Bar */
#Panel {
    background: transparent;
    opacity: 1;
    transition: opacity 0.45s ease-in-out;
}

#Panel.startup {
    opacity: 0;
}

.panel-item .icon {
    margin: 0px;
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Separator */
#Dock separator,
#Panel separator {
    transform: scale(0.7);
    margin: 4px;
    background: rgba(150, 150, 150, 0.6);
}

/* Common */
#lead, #center, #trail {
}

#container {
}

/* Effects */
#Dock.startup, #Panel.startup {
    opacity: 0;
}

/* Menu */
#Menu {
    margin-bottom: 10px;
}

#Menu contents {
    background: rgba(0,0,0,0.9);
}

#Menu arrow {
    background: rgba(0,0,0,0.9);
}

#Menu * {
    color: rgba(200,200,200,1);
}

#MenuItem {
    border-radius: 4px;
    margin: 0px;
    padding: 4px;
}

#MenuItem:hover {
    background: rgba(150,150,150,0.2);
}

#Menu button {
    border: 0px;
    padding: 0px;
    background: transparent;
}

/* Search */
#Search {
    background: transparent;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}
#Search.startup {
    opacity: 0;
}
#Search .entry-container {
    padding: 2px;
    background: rgba(10,10,10,0.95);
}
#Search.has-results {
    background: rgba(10,10,10,0.95);
}
#Search.has-results .entry-container {
    background: transparent;
}
#Search scrolledwindow {
    padding: 4px;
}
#Search entry {
    outline: none;
}
#Search entry {
    padding: 8px;
    border: 0px;
    background: transparent;
    margin: 4px;
}

#Search .results-view {
}
#Search .results-apps {
}

#Search .results-apps .button {
    border: none;
    background: transparent;
}
#Search .results-apps .button:hover {
    background: rgba(50,50,50,0.6);
}
#Search .result-row {
    padding: 8px;
    background: transparent;
    border: 0px;
}
#Search .result-row:hover,
#Search .result-row:focus {
    background: rgba(50,50,50,0.6);
}
#Search .result-name {
    font-weight: bold;
}
#Search .result-icon,
#Search .result-name,
#Search .result-description {
    padding-left: 4px;
    padding-right: 4px;
}

/* Apps-Grid */
#Apps-Grid {
    background: transparent;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}
#Apps-Grid.startup {
    opacity: 0;
}
#Apps-Grid .entry-container {
    padding: 2px;
    background: rgba(10,10,10,0.95);
}
#Apps-Grid.has-results {
    background: rgba(10,10,10,0.95);
}
#Apps-Grid.has-results .entry-container {
    background: transparent;
}
#Apps-Grid scrolledwindow {
    padding: 4px;
}
#Apps-Grid entry {
    outline: none;
}
#Apps-Grid entry {
    padding: 8px;
    border: 0px;
    background: transparent;
    margin: 4px;
}

#Apps-Grid gridview {
    padding: 10px;
}

#Apps-Grid gridview,
#Apps-Grid gridview * {
    background: transparent;
    border: 0px;
}

/* animation */
@keyframes bounce {
    0% {
        opacity: 0;
/*        transform: translateY(0);*/
    }
    30% {
        opacity: 0.3;
/*        transform: translateY(-8px);*/
    }
    50% {
        opacity: 0.5;
/*        transform: translateY(0);*/
    }
    70% {
        opacity: 0.7;
/*        transform: translateY(-3px);*/
    }
    100% {
        opacity: 1.0;
/*        transform: translateY(0);*/
    }
}

/* misc */
.bounce-icon image {
    animation: bounce 1s ease 2; /* Play twice */
}

.with-indicators #container .button {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom: 6px;
}

.dots {
    transform: translateY(10px);
}
