/* Dock */
#Dock {
    background: transparent;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

#DockItem .button {
    border: none;
    background: rgba(0,0,0,0);
    border-radius: 16px;
}

#DockItem .button image {
    color: rgba(255,255,255,1);
}

#DockItem .button:hover {
    border: none;
    background: rgba(0,0,0,0.5);
}

/* Bar */
#Bar {
    background: transparent;
    opacity: 1;
    transition: opacity 0.25s ease-in-out;
}

#PanelItem.logo * {
    font-family: Helvetica;
    font-weight: bold;
}

#PanelItem .icon {
    margin: 0px;
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
}

/* Common */

#lead, #center, #trail {
}

#container {
}

#Dock.startup, #Bar.startup {
    opacity: 0;
}

/* Menu */

#Menu {
    margin-bottom: 10px;
}

#Menu contents {
    background: rgba(0,0,0,0.98);
}

#Menu arrow {
    background: rgba(0,0,0,0.98);
}

#Menu * {
    color: rgba(200,200,200,1);
}

#MenuItem {
    border-radius: 4px;
    margin: 0px;
    padding: 4px;
}

#MenuItem:hover {
    background: rgba(150,150,150,0.2);
}

#Menu button {
    border: 0px;
    padding: 0px;
    background: transparent;
}
